// Variables

//Colors
$White: #FFFFFF;
$Green: #7AB55C;
$Grey: #7B7B7B;
$Purple-light: #5c6ac4;
$Purple-dark: #000639;
$Red: #C23628;

//Font sizes
$Font-title: 24px;
$Font-field: 16px;

//Font stack
$Font-stack: Helvetica, Arial,sans-serif;
